<table class="table table-bordered table-striped align-middle text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre del Cultivo</th>
            <th>pH Mínimo</th>
            <th>pH Máximo</th>
            <th>Fósforo Mínimo</th>
            <th>Fósforo Máximo</th>
            <th>Potasio Mínimo</th>
            <th>Potasio Máximo</th>
            <th>Nitrógeno Mínimo</th>
            <th>Nitrógeno Máximo</th>
            <th>Conductividad Mínima</th>
            <th>Conductividad Máxima</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cultivo in cultivos %}
        <tr>
            <td>{{ cultivo.id }}</td>
            <td>{{ cultivo.nombre_cultivo }}</td>
            <td>{{ cultivo.ph_min }}</td>
            <td>{{ cultivo.ph_max }}</td>
            <td>{{ cultivo.fosforo_min }}</td>
            <td>{{ cultivo.fosforo_max }}</td>
            <td>{{ cultivo.potasio_min }}</td>
            <td>{{ cultivo.potasio_max }}</td>
            <td>{{ cultivo.nitrogeno_min }}</td>
            <td>{{ cultivo.nitrogeno_max }}</td>
            <td>{{ cultivo.conductividad_min }}</td>
            <td>{{ cultivo.conductividad_max }}</td>
            <td>
                <a href="{% url 'editCultivo' cultivo.id %}" class="btn btn-primary btn-sm shadow-sm action-btn" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{% url 'deleteCultivo' cultivo.id %}" class="btn btn-danger btn-sm shadow-sm action-btn" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este cultivo?');">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
