{% extends 'cultivos/base.html' %}

{% block content %}
    <header>
        <h1>Lista de Cultivos</h1>
    </header>

    <main>
        <input type="text" id="search" placeholder="Buscar cultivo" onkeyup="searchCultivo()">
        <button>Buscar Producto</button>
        <a href="{% url 'createCultivo' %}"><button>Agregar Producto</button></a>
        <div id="cultivos-table">
            {% include 'cultivos/cultivos_table.html'%}
        </div>
           
    </main>
    <script>
        function searchCultivo(){
            const query = document.getElementById('search').value;
            fetch(`/cultivos/search/?q=${query}`).then(response=>response.text()).then(data=>{
                document.getElementById('cultivos-table').innerHTML=data;
            })
        }
    </script>
{% endblock %}